.form-wrapper {
    margin-top: 200px;
    text-align: center;
}

.form-wrapper button {
    width: 100px;
    font-size: 16px;
    padding: 15px 10px;
    background: gray;
    color: #fff;
    font-weight: 600;
}

.font-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.font-subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #1e1e1e;
    opacity: 0.5;
}

.font-description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

ion-button {
    --border-radius: 10px;
}

.native-input {
    --padding-end: 15px;
    --padding-start: 15px;
}

ion-input {
    border: 1px solid gray;
    border-radius: 10px;
}

textarea {
    --padding-start: 15px;
    --padding-end: 0px;
}

ion-item.form::part(native) {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

ion-textarea {
    border: 1px solid gray;
    border-radius: 10px;
}
